 body{

    background-size: cover;
    background-image: url(https://static.vecteezy.com/system/resources/previews/000/093/696/original/vector-yellow-abstract-background.jpg); 
 }
    nav a{
    text-decoration: none;
    color: black;
}
section #kitchen
{
    background-size: cover;
    background-image: url(https://static.vecteezy.com/system/resources/previews/000/093/696/original/vector-yellow-abstract-background.jpg); 

}
